<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <!-- Set product upgrade code for later upgrade of HDFView -->
	<?define ProductUpgradeCode = "75386B8B-ABB3-492A-EF6B-75A62D699B65"?>
	
	<!-- Set variables to determine whether target platform is 32- or 64-bit -->
	<?if $(sys.BUILDARCH) = x64 ?>
      <?define Win64 = "yes" ?>
      <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
    <?else ?>
      <?define Win64 = "no" ?>
      <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
    <?endif ?>
    
    <!-- Give an error if product name and version were not
    passed to candle.exe from within ANT -->
    <?ifndef productName ?>
    	<?error productName must be defined. ?>
    <?endif?>
	<?ifndef productVersion ?>
    	<?error productVersion must be defined. ?>
    <?endif?>
    
    <Product Name="$(var.productName) $(var.productVersion)"
             Manufacturer="The HDF Group"
             Language="1033"
             Id="*"
             UpgradeCode="$(var.ProductUpgradeCode)"
             Codepage="1252"
             Version="$(var.productVersion)">
             
        <Package Id="*"
                 Keywords="Installer"
                 Description="A visual tool for browsing and editing HDF files."
                 Manufacturer="The HDF Group"
                 Languages="1033"
                 Compressed="yes"
                 SummaryCodepage="1252" />
                 
        <Media Id="1"
               Cabinet="media.cab"
               EmbedCab="yes" />
        
        <!-- Generate folder structure for install -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.PlatformProgramFilesFolder)">
                <Directory Id="HDFDir" Name="HDF_Group">
                    <Directory Id="HDFViewDir" Name="$(var.productName)">
                        <Directory Id="InstallDir" Name="$(var.productVersion).0" />
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
        
        <!-- Register main application and add hdf file associations -->
        <Feature Id="MainApplication" Title="Main Application" Level="1">
            <ComponentGroupRef Id="MediaGroup" />
            <Component Id="FILE_ASSOCIATIONS" Guid="{1C4371C4-80EA-4B1C-8B1B-A634513F67DE}" Directory="InstallDir" KeyPath="yes">
                <!-- Manually add hdfview.bat since heat file-scraping doesn't assign it an Id -->
                <File Id="HDFViewBat" Source="$(var.releasedir)\hdfview.bat" />
                
                <!-- Associate HDFView with the file extensions: hdf, hdf4, h4, hdf5, h5, he2, he5 -->
                <ProgId Id="HDF_FILE">
                    <Extension Id="hdf" ContentType="application/hdf">
                        <Verb Id="open" Command="Open" TargetFile="HDFViewBat" Argument='"%1"' />
                    </Extension>
                </ProgId>
                <ProgId Id="HDF4_FILE">
                    <Extension Id="hdf4" ContentType="application/hdf4">
                        <Verb Id="open" Command="Open" TargetFile="HDFViewBat" Argument='"%1"' />
                    </Extension>
                </ProgId>
                <ProgId Id="H4_FILE">
                    <Extension Id="h4" ContentType="application/h4">
                        <Verb Id="open" Command="Open" TargetFile="HDFViewBat" Argument='"%1"' />
                    </Extension>
                </ProgId>
                <ProgId Id="HDF5_FILE">
                    <Extension Id="hdf5" ContentType="application/hdf5">
                        <Verb Id="open" Command="Open" TargetFile="HDFViewBat" Argument='"%1"' />
                    </Extension>
                </ProgId>
                <ProgId Id="H5_FILE">
                    <Extension Id="h5" ContentType="application/h5">
                        <Verb Id="open" Command="Open" TargetFile="HDFViewBat" Argument='"%1"' />
                    </Extension>
                </ProgId>
                <ProgId Id="HE2_FILE">
                    <Extension Id="he2" ContentType="application/he2">
                        <Verb Id="open" Command="Open" TargetFile="HDFViewBat" Argument='"%1"' />
                    </Extension>
                </ProgId>
                <ProgId Id="HE5_FILE">
                    <Extension Id="he5" ContentType="application/he5">
                        <Verb Id="open" Command="Open" TargetFile="HDFViewBat" Argument='"%1"' />
                    </Extension>
                </ProgId>
            </Component>
        </Feature>
        
        <!-- Add Start Menu Shortcuts -->
        
        <!-- Set up UI -->
        <Property Id="WIXUI_INSTALLDIR" Value="InstallDir" />
        <UIRef Id="WixUI_InstallDir" />
        
        <!-- Add HDF icon for HDFView to Add/Remove Programs in Windows -->
        <Icon Id="hdf_icon" SourceFile="src\hdf\view\icons\hdf.ico"/>
        <Property Id="ARPPRODUCTICON" Value="hdf_icon" />
        
        <!-- Replace default bitmaps in installer -->
        
    </Product>
</Wix>