<?xml version="1.0" encoding="utf-8" standalone="no"?>
<installer-gui-script minSpecVersion="1">
    <pkg-ref id="org.hdfgroup.HDFView-3.1.2"/>
    <product id="org.hdfgroup.HDFView-3.1.2" version="3.1.2"/>
    <title>HDFView-3.1.2</title>
    <options customize="never" require-scripts="false" hostArchitectures="x86_64"/>
    <choices-outline>
        <line choice="default">
            <line choice="org.hdfgroup.HDFView-3.1.2"/>
        </line>
    </choices-outline>
    <choice id="default" title="HDFView-3.1.2" versStr="3.1.2"/>
    <choice id="org.hdfgroup.HDFView-3.1.2" title="HDFView-3.1.2" visible="false">
        <pkg-ref id="org.hdfgroup.HDFView-3.1.2"/>
    </choice>
    <pkg-ref id="org.hdfgroup.HDFView-3.1.2" version="3.1.2" onConclusion="none">org.hdfgroup.HDFView-3.1.2.pkg</pkg-ref>
</installer-gui-script>